html{
  height: 100%;
}

body{
  height: 100%;
}

#contactBody{
  background-color: #f2f2f2;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type=text], input[type=email], input[type=submit]{
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px; 
  margin-left: 25%;
  min-height: 30px;
}

input[type=submit]{
  background-color: #24252A;
  color: white;
  min-height: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

textarea{
  width: 50%;
  border: 1px solid #ccc;
  resize: none;
  margin-left: 25%;
}

label{
  display: inline-block;
  margin-left: 25%;
  padding: 10px 10px 10px 0;
}

#msg{
  font-size: 100%;
  margin-left: 25%;
  margin-bottom: 10px;
}

#socialMedia{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  height: 192px;
}

.contactS{
  height: 60px;
  width: 60px;
}

