
/* Body styling */

#body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 10px solid #24252A;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  height: 490px;
  align-items: center;
}

.htext{
  display: flex;
  justify-items: center;
  flex-direction: column;
  /* background-color: blue; */
  height: 100%;
  width: 100%;
}

.profile{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

#prof{
  border-radius: 50px;
  height: 300px;
  width: 300px;
  border: 3px solid #24252A;
}

#introT{
  padding-top: 80px;
  color: black;
  text-decoration: underline;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 200%;
  margin-left: 10px;
}

#introD{
  padding-top: 10px;
  color: black;
  font-style: italic;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 160%;
  margin-left: 10px;
}


#ref1{
  display: inline;
  border-radius: 50px;
  border-style: solid;
  margin-right: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 5px 5px 5px;
  font-size: 140%;
}

#ref2{
  display: inline;
  border-radius: 50px;
  border-style: solid;
  padding: 5px 5px 5px 5px;
  margin-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 140%;
}

#social{
  padding-top: 40px;
}

.imageLinks1{
  height: 30px;
  width: 30px;
  border-radius: 35px;
  margin-left: 80px;
  margin-right: 20px;
}

.imageLinks2{
  height: 30px;
  width: 30px;
  border-radius: 35px;
}

 /* Increment Counter Code  */

#incrementCounter{
  display: grid;
  grid: gap 5px; 
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.words{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 10px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.details{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.numbers{
  margin-top: 10px;
  font-size: 60px;
}
